{{ $logoIcon := .Site.Params.uniNavHeaderLogoIcon | default "img/qgis_in.png" }}

<nav class="navbar is-fixed-top simple-top-nav" role="navigation" aria-label="main navigation">
    <div class="simple-top-nav-container">
        <a class="simple-top-nav-logo" href="{{ .Site.BaseURL }}">
            <img src="{{ $logoIcon | absURL }}" alt="QGIS India User Group" />
        </a>
        <a class="simple-top-nav-link" href="https://qgis.org" target="_blank" rel="noopener">
            Visit QGIS.org
            <span class="icon is-small">
                <i class="fas fa-external-link-alt"></i>
            </span>
        </a>
    </div>
</nav>
